@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/inventory.css" rel="stylesheet">
</head>
<body>
    <div class="alert alert-danger not-found bolder">
        <h1>Invalid Item Id or Check the Connection String</h1>
    </div>
    <div class="navigate-back bolder">
        <a href='@Url.Action("Index","Inventory")'>Click here to return back</a>
     </div>
</body>
</html>
